<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste de API</title>
    <link rel="stylesheet" href="../public/css/style.css">

  </head>
  <body>
   <!-- <button onclick="getPets()">GETPETS</button> -->
    <main id="container">
        <div id="card">
            <img class="img1" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="">
            <h1>Name: <h3>Rick Sanchez</h3></h1>
            <h2 class="species">Human</h2>
            <h2 class="status">Active</h2>
            
        </div>
        <div id="card">
            <img class="img1" src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="">
            <h1>Name: <h3>Morty Smith</h3></h1>
            <h2 class="species">Human</h2>
            <h2 class="status">Active</h2>
        </div>
        <div id="card">
            <img class="img1" src="https://rickandmortyapi.com/api/character/avatar/3.jpeg" alt="">
            <h1>Name: <h3>Summer Smith</h3></h1>
            <h2 class="species">Human</h2>
            <h2 class="status">Active</h2>
        </div>
    </main>






    <script src="../../script.js"></script>
  </body>
</html>
