<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela inicial</title>
    <link rel="stylesheet" href="../estilo.css" />
  </head>
  <body>
    <!-- <header>

      <button class="btn-mensagem">Enviar Postagem</button>

      <ul style="list-style-type: none;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: xx-large; margin: auto;"><li>MiniBlog</li></ul>

      <div class="botoes">

       <a href="../view/login.html"> <button class="btn-login">Login</button></a>

       <a href="../view/cadastro.html"> <button class="btn-cadastro">Cadastrar</button></a>

      </div>

    </header> -->
    <header>
      <div class="container" style="background-color: black; height: 100px; width: 100%;">
        <div class="btn-msg">
          <a href="post.html">
          <button class="btn-mensagem">Enviar mensagem</button>
        </a>
        
        <div class="botoes" style="width: 400px;;height: 100px;">
          <a href="../view/cadastro.html">
          <button class="btn-cadastro">Cadastro</button>
        </a>
        <a href="../view/login.html">
          <button class="btn-login">Login</button>
        </a>
        </div>
      </div>
    </div>
    </header>
  </body>
</html>
